body {
    background-color: white;
    font-family: 'Signika Negative', sans-serif;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: 	#181716;
}

.light-bg {
    background-color: slateblue;
}

.dark-bg {
    background-color: grey;
}

.main-bg {
    background-color: #F9FAFC;
}

.background-image {
    background-image: url('https://res.cloudinary.com/clarkinr/image/upload/v1659984342/pexels-prawns_tfpjkg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
}

#tagline {
    margin: auto;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #F9FAFC;
    padding-top: 150px;
    font-size: 3em;
}

.feedback_shape {
    border: 2px solid grey;
    border-radius: 10px;
    background-color: beige;
}

.feedback {
    color: black;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.feedback-title {
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    margin: 0 auto;
}

.login-btn {
    background-color: slategrey;
    border: solid 1px black;
}


.empty-space {
    height: 90px;
    width: 100%;
    background-color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
}
