body {
    background-color: #928e85;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: 	#181716;
}

.light-bg {
    background-color: slateblue;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

#tagline {
    font-family: 'Signika Negative', sans-serif;;
    margin: 0 auto;
    text-align: center;
}

.feedback_shape {
    border: 2px solid grey;
    border-radius: 10px;
}

.feedback {
    color: black;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.signup-btn {
    
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}