{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Displays selected feedback form by id for editing-->
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-md-3 mt-5 offset-md-3">
                <h4 class="stroke">Edit my feedback:</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}

                    <button id="submit-button" class="btn btn-success">Submit Changes</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}