{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated %}
        <!-- Shows feedback form if user is authenticated-->
        
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h1>Tell us about your last visit</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}

                    <button id="submit-button" class="btn btn-success">Add my feedback</button>
                </form>
            </div>
        </div>
        {% else %}
        <!--requests user log in in order to add feedback-->
        <p>You must be signed in to make a booking.<a href="{% url 'account_login' %}">sign in</a></p>
        
        {% endif %}
    </div>

</div>

{% endblock %}