{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Shows reviews -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for item in object_list %}
                    <div class="col-md-4 feedback_shape">
                        <div class="card-mb-4">
                            <div class="card-body feedback">
                                <p> {{ item.comment }}</p>
                                <h2>{{ item.first_name }}</h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}