{% extends "base.html" %}

{% block content %}

<div class="background-image">
    <div class="container-fluid">
        <div class="row">

            <!-- Tagline text -->
            <div class="col-12 mt-3 left">
                <div id="tagline">
                    <h1>TWOs</h1>
                    <p>Where good food is always our focus</p>
                </div>
            </div>
        </div>
    
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <h1 class="feedback-title">See what others are saying about us:</h1>

        <!-- Shows reviews -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for item in object_list %}
                    <div class="col-md-4 feedback_shape">
                        <div class="card-mb-4">
                            <div class="card-body feedback">
                                <p> {{ item.comment }}</p>
                                <h4>{{ item.first_name }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}