{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {% for booking in bookings %}
        <!-- Shows created bookings if user is authenticated-->
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h5 class='card-title text-uppercase text-center'>{{ booking.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ booking.reservation_time }}on{{ booking.booking_date }}</h6>
                <p>Party size: {{ booking.party_size }}</p>
            </div>
        </div>
            <a href="/booking_edit/{{booking.id}}" class="btn btn-success">Edit</a>
        {% endfor %}
    </div>

</div>

{% endblock %}